{% extends "base.html" %}
{% block title %}About-us{% endblock title %}
{% block body %}




<div class="container-fluid mx-0">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/login.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>

<h1 style=" position: absolute;
        top: 250px;
        left: 585px; ">About us
</h1>




{% endblock body %}