{% extends "base.html" %}
{% block title %}Contact-us{% endblock title %}
{% block body %}


<div class="container-fluid mx-0">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/login.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>






<body>
    <div style=" position: absolute;
    top: 70px;
    left: 550px; ">

        <h1>Contact-Us</h1>
        <p>Please fill out the form below to contact us:</p>
        <table>
            <form action="thankyou" method="POST">
                {%csrf_token%}
                <tr>
                    <td align="center"><label for="name">Name:</label></td>
                    <td><input type="text" id="name" name="name" required><br><br></td>
                </tr>
                <tr>
                    <td align="center"><label for="email">Email:</label></td>
                    <td><input type="email" id="email" name="email" required><br><br></td>
                </tr>
                <tr>
                    <td align="center"><label for="message">Message:</label> </td>
                    <td><textarea id="message" name="message" rows="5" cols="30" required></textarea><br><br>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="contact" id="contact"></td>
                </tr>
            </form>
        </table>
    </div>
</body>






{% endblock body %}